/* 参考掲載 https://web-dev.tech/front-end/javascript/autumn-leaves-falling-effect/*/
/* ===== 落ち葉を表示するコンテナのスタイル ===== */
.leaves-container {
  position: relative;
  overflow: hidden;
}

/* ===== 落ち葉のスタイル ===== */
.leaf {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  animation: animate-leaf 18s linear;
}

.leaf-1 {
  background-image: url('/images/leaf-1.svg')
}

.leaf-2 {
  background-image: url('/images/leaf-2.svg');
}

.leaf-3 {
  background-image: url('/images/leaf-3.svg');
}

@keyframes animate-leaf {
  0% {
    opacity: 0;
    top: 0;
    transform: rotate(0);
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 100vh;
    transform: rotate(1080deg);
  }
}