/* #6c27ec */
/* #78B6D7 */
/* #56B5A4 */
body {
	padding-bottom: 3rem;
}
h1 {
	padding: 1rem;
	font-size: 5rem;
	margin: 0;
	background-color: #6c27ec;
	color: white;
}
h1.d-head-title {
	font-family: 'Parisienne', cursive;
}
h2 {
	position: relative;
	padding-left: 1.5rem;
	border-left: 6px solid #6c27ec;
}
h2::before {
	position: absolute;
	left: -6px;
	bottom: 0;
	content: '';
	width: 6px;
	height: 50%;
	background-color: #ccc;
}
h2::after {
	position: absolute;
	left: 0;
	bottom: 0;
	content: '';
	width: 100%;
	height: 0;
	border-bottom: 1px solid #ccc;
}

tr:nth-child(even){
	background-color: #eee;
}
th {
	border-bottom: 1px dotted #ccc;
	text-align: center;
}
td{
	text-align: center;
	padding: .5rem 1rem;
}

hr {
	background-color: #6c27ec;
	margin: 0;
	border: none;
	height: 10px;
}
.zigzag-orange-white {
  background:
    linear-gradient(-135deg, #6c27ec 5px, transparent 0) 0 5px,
    linear-gradient(135deg,  #6c27ec 5px, #fff 0) 0 5px;
  background-color: #6c27ec;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 10px 10px;
}
@media (max-width: 767px){
	#clipboard {
		display: none;
	}
}
input#xs_amount { width: 60px; }

#wd_form2 {
	line-height: 1.2;
}

.form-group {
	margin-bottom:5px;
}

.token_area {
	display: flex;
  justify-content: flex-end;
}

.token_text {
	margin: 2px 2%;
}

.set_token_btn {
	padding: 2px 5px;
	font-size: 0.85rem;
	border-radius: 9999px;
	font-weight: 600;
}

